@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Open+Sans:400,700);
/* line 4, ../../app/styles/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 11, ../../app/styles/main.scss */
body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
/* line 17, ../../app/styles/main.scss */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
/* line 25, ../../app/styles/main.scss */
.header {
  margin-bottom: 10px;
  /* Make the masthead heading the same height as the navigation */
}
/* line 29, ../../app/styles/main.scss */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* line 37, ../../app/styles/main.scss */
.container-narrow > hr {
  margin: 30px 0;
}

/* line 42, ../../app/styles/main.scss */
.marketing {
  margin: 40px 0;
}
/* line 45, ../../app/styles/main.scss */
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* line 53, ../../app/styles/main.scss */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 59, ../../app/styles/main.scss */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  /* line 63, ../../app/styles/main.scss */
  .jumbotron {
    border-bottom: 0;
  }
}
@media (min-width: 992px) {
  /* line 69, ../../app/styles/main.scss */
  .modal-lg {
    width: 1170px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  /* line 75, ../../app/styles/main.scss */
  .marketing ul.nav li {
    width: 100%;
    float: none;
    margin: 0 auto;
  }

  /* line 83, ../../app/styles/main.scss */
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
  }
}
/* line 102, ../../app/styles/main.scss */
body {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: black;
  color: white;
  position: relative;
}

/* Jumbotron*/
/* line 111, ../../app/styles/main.scss */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #055b56;
  background: #0d0c0d;
  font-family: "Roboto Slab", Georgia, serif;
}
/* line 118, ../../app/styles/main.scss */
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* line 122, ../../app/styles/main.scss */
.jumbotron .btn-success {
  background-color: #055b56;
  border-color: #033835;
}
/* line 126, ../../app/styles/main.scss */
.jumbotron .btn-success:hover {
  background-color: #033835;
  border-color: #033835;
}
/* line 130, ../../app/styles/main.scss */
.jumbotron a.btn-success:active {
  background-color: #033835;
}
/* line 133, ../../app/styles/main.scss */
.jumbotron .btn-default {
  background-color: #055b56;
  border-color: #033835;
  color: white;
}
/* line 138, ../../app/styles/main.scss */
.jumbotron .btn-default:hover {
  color: white;
  border-color: #033835;
  background-color: #033835;
}

/* Portfolio Styles */
/* line 147, ../../app/styles/main.scss */
.marketing .nav {
  border-color: #055b56;
  margin-bottom: 30px;
}
/* line 151, ../../app/styles/main.scss */
.marketing .nav a {
  color: white;
}
/* line 154, ../../app/styles/main.scss */
.marketing .nav a:hover {
  color: white;
  background: #033835;
  border-color: #055b56;
}
/* line 159, ../../app/styles/main.scss */
.marketing .nav li.active a {
  background: #055b56;
  border-color: #055b56;
  color: white;
}
/* line 164, ../../app/styles/main.scss */
.marketing .nav li a:visited {
  background: #055b56;
  border-color: #055b56;
  color: white;
}
/* line 169, ../../app/styles/main.scss */
.marketing .card {
  padding-bottom: 10px;
}
/* line 172, ../../app/styles/main.scss */
.marketing .card .thumbnail {
  border-color: #2e2e2e;
  background: black;
  padding: 0;
  transition: 0.2s linear all;
}
/* line 181, ../../app/styles/main.scss */
.marketing .card .caption {
  color: white;
}
/* line 184, ../../app/styles/main.scss */
.marketing .card .btn-primary {
  background-color: #055b56;
  border-color: #033835;
}
/* line 189, ../../app/styles/main.scss */
.marketing .thumbnail:hover {
  box-shadow: 0px 0px 5px #a1a1a1;
}
/* line 193, ../../app/styles/main.scss */
.marketing .project-name {
  height: 30px;
}

/* line 197, ../../app/styles/main.scss */
a.small-labels {
  color: #a1a1a1;
}

/* line 200, ../../app/styles/main.scss */
small:before {
  content: '#';
}

/* line 203, ../../app/styles/main.scss */
a.small-labels:hover {
  text-decoration: none;
  color: white;
}

/* Modal styles */
/* line 209, ../../app/styles/main.scss */
iframe {
  margin: 30px;
  overflow: hidden;
  border: none;
}

/* line 214, ../../app/styles/main.scss */
.modal-title {
  color: #0d0c0d;
}

/* line 217, ../../app/styles/main.scss */
.modal-body {
  color: black;
}

/* line 220, ../../app/styles/main.scss */
.modal-body .img-responsive {
  float: none;
  margin: 0 auto;
}

/* card animation */
/* line 225, ../../app/styles/main.scss */
.card.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}

/* line 229, ../../app/styles/main.scss */
.card.ng-enter.ng-enter-active {
  opacity: 1;
}

/* line 232, ../../app/styles/main.scss */
.navbar-inverse {
  background: none;
}

/*# sourceMappingURL=main.css.map */