<!-- The Main View -->
<div class="container">
<!-- Intro -->
<div class="jumbotron" >
  <h1>Hello!</h1>
  <p class="lead">
    <img src="images/avatar.png" alt="I'm Yeoman"><br>
   I'm Sergiu Ciobanasu, and here is <br>
       my Portfolio
  </p>
  <p><a class="btn btn-lg btn-success" scroll-to="portofoliu-content"><strong>LET'S SEE IT!</strong></a></p>
    
    <p><a class="btn btn-lg btn-default" ng-href="Alexandru-Sergiu-Ciobanasu.pdf" download><strong>DOWNLOAD CV</strong></a></p>
</div><!-- Intro End -->

<!-- Portfolio Start -->       
<div class="row marketing" id="portofoliu-content">
    <!-- Navigation Start -->
    <nav class="navbar navbar-inverse"> 
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsemenu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
        <div class="collapse navbar-collapse" id="collapsemenu">
          <ul class="nav nav-tabs">
              <li class="active"><a href="#/" ng-click="filters.cat = ''; $ctrl.changeClass(); $ctrl.scrollTo('portofoliu-content');" >All</a></li>
              <li data-cat="webdesign"><a ng-href="#/" ng-click="filters.cat = 'webdesign'; $ctrl.changeClass(); $ctrl.scrollTo('portofoliu-content');">Web design</a></li>
              <li data-cat="animations"><a ng-href="#/" ng-click="filters.cat = 'animations'; $ctrl.changeClass(); $ctrl.scrollTo('portofoliu-content');">Animations</a></li>
              <li data-cat="newsletter"><a ng-href="#/" ng-click="filters.cat = 'newsletter'; $ctrl.changeClass(); $ctrl.scrollTo('portofoliu-content');">Newsletter design</a></li>
              <li data-cat="advertising"><a ng-href="#/" ng-click="filters.cat = 'branding'; $ctrl.changeClass(); $ctrl.scrollTo('portofoliu-content');">Online Advertising</a></li>
              <li data-cat="print"><a ng-href="#/" ng-click="filters.cat = 'print'; $ctrl.changeClass(); $ctrl.scrollTo('portofoliu-content');">Print</a></li>
            </ul>
        </div>  
    </nav> <!-- Navigation End -->
    <!-- Projects Start -->
    <div class="col-lg-3 col-md-4 col-sm-6 card" ng-repeat="projects in $ctrl.projects | filter:filters">
            <div class="thumbnail webdesign">
                  <a ng-href="#/" data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="$ctrl.currentName = projects.name; $ctrl.currentPath = projects.link">
                        <img ng-src="../images/thumbs/{{projects.thumb}}" alt="...">
                  </a>
                  <div class="caption">
                    
                    <p class="project-name">{{projects.name}}</p>
                      <p><a class="small-labels" ng-href="#/" ng-click="$parent.filters.cat = projects.cat; $ctrl.changeClass2(projects.cat);"><small>{{projects.cat}}</small></a></p>
                      
                    <p><a ng-href="#/" data-toggle="modal" data-target=".bs-example-modal-lg" class="btn btn-primary" role="button" ng-click="$ctrl.currentName = projects.name; $ctrl.currentPath = projects.link">Bigger, please!</a></p>
                  </div>
            </div>
    </div> <!-- Projects End -->   
</div><!-- Portfolio End --> 
</div><!-- The Main View End -->

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{$ctrl.currentName }}</h4>
      </div>
      <div class="modal-body" ng-bind-html="$ctrl.insert()">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>