<div class="jumbotron">
  <h1>Hello!</h1>
  <p class="lead">
    <img src="images/avatar.png" alt="I'm Yeoman"><br>
   I'm Sergiu Ciobanasu, and here is <br>
       my Portfolio
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/"><strong>LET'S SEE IT!</strong></a></p>
</div>

<div class="container">
<div class="row marketing">
  <ul class="nav nav-tabs">
      <li class="active"><a href="#/" ng-click="filters.cat = ''; $ctrl.changeClass(); ">All</a></li>
      <li data-cat="webdesign"><a href="#/" ng-click="filters.cat = 'webdesign'; $ctrl.changeClass(); ">Web design</a></li>
      <li data-cat="animations"><a href="#/" ng-click="filters.cat = 'animations'; $ctrl.changeClass(); ">Animations</a></li>
      <li data-cat="newsletters"><a href="#/" ng-click="filters.cat = 'newsletter'; $ctrl.changeClass(); ">Newsletter design</a></li>
      <li data-cat="advertising"><a href="#/" ng-click="filters.cat = 'branding'; $ctrl.changeClass(); ">Online Advertising</a></li>
      <li data-cat="print"><a href="#/" ng-click="filters.cat = 'print'; $ctrl.changeClass();">Print</a></li>
  </ul>
    
    <div class="col-lg-3 col-md-4 col-sm-6 card" ng-repeat="projects in $ctrl.projects | filter:filters">
            <div class="thumbnail">
                  <a ng-href="../images/{{projects.link}}">
                        <img ng-src="../images/thumbs/{{projects.thumb}}" alt="...">
                  </a>
                  <div class="caption">
                    
                    <p class="project-name">{{projects.name}}</p>
                      <p><a class="small-labels" href="#/" ng-click="$parent.filters.cat = projects.cat; $ctrl.changeClass2(projects.cat);"><small>{{projects.cat}}</small></a></p>
                      
                    <p><a ng-href="../images/{{projects.link}}" class="btn btn-primary" role="button">Bigger, please!</a></p>
                  </div>
            </div>
    </div>    
</div>
</div>